
.container-produits {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;

}
#title {
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}
.card-produit {
    border: 1px solid #d62828;
    border-radius: 8px;
    width: 250px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    background-color: #fff;
    margin-bottom: 20px;
}
.card-produit img {
    max-width: 100%;
    height: auto;
    border-radius: 4px;
    margin-bottom: 15px;
}
.card-produit h3 {
    font-size: 1.1rem;
    margin: 10px 0;
}
.prix {
    font-weight: bold;
    color: #2c3e50;
    font-size: 1.2rem;
    margin-bottom: 15px;
}
.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #136F63;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background 0.3s;
}
.btn:hover {
    background-color: rgba(248, 7, 7, 0.95);
}
