body{
    background:#f7f9fa;

}
.carousel {
    display: flex;
    flex-wrap: nowrap;
    gap: 15px;
    overflow-x: auto;
    padding: 10px 0 20px;
}
#title{
    margin-left: 50px;
    margin-top: 20px;
}
.card {
    flex: 0 0 170px;
    max-width: 170px;
    background: #f7f9fa;
    border-radius: 18px;
    border: 2px solid #d62828;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    color: #000;
    margin-left: 50px;
}


.card img {
    width: 100%;
    height: 120px;
    object-fit: contain;
    border-radius: 12px;
    display: block;
}


.card-info {
    margin-top: 8px;
}

.card-name {
    display: block;
    font-size: 12px;
    font-family: Montserrat;
    font-weight: bold;

}

.card-price {
    display: inline-block;
    margin-top: 4px;
    font-weight: bold;
    color: #f7f9fa;
    font-size: 16px;
    background: #136F63;
    border-radius: 5px;
    padding: 2px 4px;
}
