body{
    background:#f7f9fa;
}

#avantage{
    background: #136F63;
    color: #f2f2f2;
    text-align: center;
    padding:  20px;
}
#avantage a {
    color: #f2f2f2;
    text-decoration: none;
}
#avantage a:hover {
    color:#d62828;
}

.bande{
    display: flex;
    justify-content: space-evenly;
    text-align: center;
}
#avantage img{
    width: 60px;
    height: 60px;
}

button{
    background: none;
}
#information{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;

}
#information .col {
    display: flex;
    flex-direction: column;
    gap: 0px;
}
#information h2{
    margin-bottom: 10px;
    font-size: 18px;
}
#information a {
    text-decoration: none;
}
#information a:hover {
    text-decoration: underline;
}
#information p {
    margin: 2px 0;
    line-height: 1.2;
}

#information a {
    line-height: 1.2;
}
#paiement{
    display: flex;
    justify-content: center;
    padding: 20px;
    gap: 10px;
}
#paiement img{
    width: 40px;
    height: 20px;
}
