#hero {
    padding: 10px 40px 0;
    background-color: #f7f9fa;
}


#hero .hero-text {
    display: flex;
    flex-wrap: nowrap;
    gap: 12px;
    margin-bottom: 10px;
    justify-content: space-between;
}


#hero .hero-text button {
    border: none;
    background-color: #d62828;
    color: #F7F9FA;
    padding: 6px 18px;
    border-radius: 16px;
    font-size: 12px;
    cursor: pointer;
    white-space: nowrap;
}


#hero .hero-text button a {
    color: inherit;
    text-decoration: none;
    display: block;
}
#hero img {
    display: block;
    width: 100%;          /* prend toute la largeur du bloc hero */
    border-radius: 8px;
}